* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 95vw;
}

.panel {
  background-image: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.3;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  text-align: center;
  padding-top: 50px;

  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  writing-mode: horizontal-tb;
  transition: writing-mode 0.5s ease-in 0.4s;
  padding: 10px;
  
}
